
* {
    border: red;
    border-style: solid;
}
html {
    height: 100%;
}
body {
    min-height: 600px;
    height: 100vh;
    margin: 0;
} 
.hero_image {
    background-image: url('website_images/about_bckgrnd.png');
    background-color: #F6F2F3;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: center;
    height: auto;
}
/*
hero_image {
    background-image: url();
    max-width: 100%;
    background-color: #d60606; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
/* navigation styling */ 
.nav {
    display: flex;
    position: fixed;
    padding: 10px;
}
.nav_link {
    color: white;
    font-family: Calluna;
    font-size: 50px;
    text-decoration: none;
    padding: 10px;
}
/* Central Menu Styling */
/*.flex_container {
    /*display: flex;
    flex-direction: column;
    padding: 165px;
    background-color: tomato;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
    margin: 165px;
    z-index: 100;
} 
*/
.menu {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: left;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 20%;
    top: 200px;
    z-index: 100;
} 
.about, .work, .misc {
    padding: 0px;
} 
.menu_abt, .menu_work, .menu_misc {
    font-family: Calluna;
    text-decoration: none;
    color: #706262;
    font-size: 70px;
}
/*
a {
    font-family: Calluna;
    text-decoration: none;
    color: #F9F7EE;
    font-size: 70px;
}
*/
a:hover {
    color: #FBE075;
}
/*--- about me page */

/*
.aboutMeImage {
    display: flex;
    margin: 100px 20%;
    background-image: url('website_images/aboutMeImg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height : 328px;
    min-width: 486px;
}
*/
.pageContentGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 100px 10%;
    grid-template-areas: 
    "aboutMeImage"
    "aboutMeImage"
    "introP"; 
}

#aboutMeImage {
    grid-area: aboutMeImage;
    background-image: url('website_images/aboutMeImg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: left;


}

@media only screen and (max-width: 800px) {
    .pageContentGrid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 100px 10%;
        grid-template-areas: 
        "aboutMeImage"
        "introP"; 
    }
}

#introP {
    grid-area: introP;
}

h1 {
    font-family: Calluna;
    font-size: 50px;
}

h2 {
    font-family: Calluna;
    font-size: 30px; 
}