
/* ---------------------basics ----------------------*/

/* * {
    border: #ff0000;
    border-style: solid;
} */

/* ---------------------basics ----------------------*/

html {
    height: 100vh;
}
body {
    height: 100vh;
    margin: 0;
    font-size: 12px;
    position: relative
} 

h1 {
    font-family: Calluna;
    font-size: 70px;
    color: #FBE075;
    line-height: 70px;
}

h2 {
    font-family: Calluna;
    font-size: 20px; 
    color: #706262;
    line-height: 20px;
}
p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #706262;
    font-size: 14px;
}
li {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #706262;
    font-size: 14px;
}
a:hover {
    color: #FBE075;
    text-decoration: none;
    transition: all 0s;
    /* transition: all 300ms; (will turn this back on once i can get the images to be cute */
}
/* #nav_item:hover {
    transform: rotate(1000 deg);
}  */

/* ------------------ navigation -------------------- */ 
.nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 1;
}
.navbar {
    display: flex; 
    position: fixed;
    background-color: transparent !important;
}
.navbar-brand {
    font-family: Calluna;
    font-size: 50px;
    text-decoration: none;
    padding: 10px;
    background-color: transparent; 
}
.nav_link {
    font-family: Calluna;
    font-size: 50px;
    text-decoration: none;
    padding: 10px;
}
.nav-link {
    color: #5C5AD8;
    font-family: Calluna;
    font-size: 50px;
    text-decoration: none;
    padding: 10px;
    background-color: transparent; 
}
.nav-link:hover {
    color: #FBE075 important!;
    text-decoration: none;
    transition: all 0s;
}
#nav_item {
    image-rendering: -webkit-optimize-contrast;
}
/* nav explorations
.hidden_menu {
    opacity: 0;
}
nav:hover .hidden_menu {
    opacity: 1;
}
*/
footer {
    margin-top: 100vh;
    padding: 2%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    z-index: 4;
}
#footer_item {
    padding-left: 5px;
    padding-right: 5px;
}

/* ------------------homepage -----------------------*/ 
.hero_image {
    background-image: url('../website_images/about_bckgrnd.png');
    /* background-image: url('../website_images/about_bckgrnd.png'); */
    image-rendering: -webkit-optimize-contrast;
    /* animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s; */
    background-color: #F6F2F3;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: right;
    height: 100vh;
    position: relative;
    z-index: 1;
}
@media only screen and (max-width: 800px) {
    .hero_image {
        background-image: url('');
        /* background-image: url('../website_images/about_bckgrnd.png'); */
        image-rendering: -webkit-optimize-contrast;
        background-color: #F6F2F3;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: center;  
        background-position: right;
        height: 100vh;
        position: relative;
        z-index: 1;
    }
    .menu {
        background-position: left;
        background-color:  rgba(255, 255, 255, 0.575);
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: left;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0px 20%;
        top: 200px;
        position: relative;
        z-index: 3;
    } 
    /* .hero_bckrnd {
        position: absolute;
        background-color:  #F6F2F3;
        display: flex;
        height: 100%;
        width: 100%;
        background-size: cover;
        opacity: .5;
        z-index: 2;
    }  */
        
}

/* .hero_bckrnd {
    position: absolute;
    background-color:  #F6F2F3;
    display: flex;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: .5;
    z-index: 2;
}     */
/*
hero_image {
    background-image: url();
    max-width: 100%;
    background-color: #d60606; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
/* navigation styling */ 
/* Central Menu Styling */
/*.flex_container {
    /*display: flex;
    flex-direction: column;
    padding: 165px;
    background-color: tomato;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
    margin: 165px;
    z-index: 100;
} 
*/
.menu {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: left;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 20%;
    top: 200px;
    position: relative;
    z-index: 3;
    opacity: 1;
} 
.about, .work, .misc {
    padding: 0px;
} 
.menu_abt, .menu_work, .menu_misc {
    font-family: Calluna;
    text-decoration: none;
    color: #706262;
    font-size: 70px;
}


/*
a {
    font-family: Calluna;
    text-decoration: none;
    color: #F9F7EE;
    font-size: 70px;
}
*/

/* @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate(0, 100%, 0);
    }
} */

/* ------------------about me page -----------------------*/ 

/*
.aboutMeImage {
    display: flex;
    margin: 100px 20%;
    background-image: url('website_images/aboutMeImg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height : 328px;
    min-width: 486px;
}
*/

/* #aboutBody {
    height: 0vh;
    opacity: 1;
} */

.about_me_body {
    background: url('../website_images/about_me_.1.svg');
    image-rendering: -webkit-optimize-contrast;
    background-color: #FEFEFE;
    background-repeat: no-repeat;
    background-size: center;
    background-position: top;
    position: relative;
    height: 100vh;
}
/*
.about_me_body::after {
    background-color: rgba(white, white,white, .3);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
} */
.pageContentGrid {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 50%;
    grid-gap: 10%;
    padding: 5%;
    grid-template-areas: 
    "introP aboutMeImage";
    opacity: 1;
}

#introP {
    grid-area: introP;
}

#aboutMeImage {
    grid-area: aboutMeImage;
    background-image: url('../website_images/aboutMeImg.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: top;
    border-radius: 1%;

}

@media only screen and (max-width: 800px) {
    .pageContentGrid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        padding: 5%;
        grid-template-areas: 
        "introP"
        "aboutMeImage"; 
    }

    #aboutMeImage {
        grid-area: aboutMeImage;
        background-image: url('../website_images/aboutMeImg.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-size: center;  
        background-position: center;
        border-radius: 1%;
    
    }
}
/* ------------------misc page -----------------------*/ 

.miscGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    padding: 20% 20%; 
    grid-template-areas: 
    "miscHero miscHero gallery1 gallery1"
    "gallery2 gallery2 gallery1 gallery1"
    "gallery2 gallery2 gallery1 gallery1"
    "gallery3 gallery3 gallery3 gallery3"
    "gallery3 gallery3 gallery3 gallery3"
    "gallery4 gallery4 gallery5 gallery5"
    "gallery4 gallery4 gallery5 gallery5"
    "gallery4 gallery4 . ."
}
@media only screen and (max-width: 800px) {
    .miscGrid {
        display: grid;
        grid-template-rows: 100px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-gap: 5%;
        padding: 20% 20%;
        grid-template-areas: 
        "miscHero"
        "gallery1"
        "gallery2"
        "gallery3" 
        "gallery4"
        "gallery5";
    }
}

#miscHero {
    grid-area: miscHero;
    text-align: center;
}
#gallery1 {
    grid-area: gallery1;
    background-image: url('../website_images/gallery/zebra.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: center;  
    background-position: center;
    border-radius: 5px;
    image-rendering: -webkit-optimize-contrast;
}
#gallery2 {
    grid-area: gallery2;
    background-image: url('../website_images/gallery/lunch.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: center;  
    background-position: center;
    border-radius: 5px;
    image-rendering: -webkit-optimize-contrast;
}
#gallery3 {
    grid-area: gallery3;
    background-image: url('../website_images/gallery/natalie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: center;  
    background-position: center;
    border-radius: 5px;
    image-rendering: -webkit-optimize-contrast;
}
#gallery4 {
    grid-area: gallery4;
    background-image: url('../website_images/gallery/band.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: center;  
    background-position: center;
    border-radius: 5px;
    image-rendering: -webkit-optimize-contrast;
}
#gallery5 {
    grid-area: gallery5;
    background-image: url('../website_images/gallery/carbondale.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: center;  
    background-position: center;
    border-radius: 5px;
    image-rendering: -webkit-optimize-contrast;
}
/* ------------------gallery basics-----------------------*/
#gallery_header {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 5px;
}
#subPageH1 {
    display: block;
    justify-content: right;
    margin-left: 10%;
}
#gallery_header {
    opacity: 0;
}
.gallery_hover:hover #gallery_header {
    opacity: 1;
}

.btn-primary {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #706262;
    font-size: 14px;
    background-color: #FBE075;
    border-color: #FBE075;
}
.btn-primary:hover {
    background-color: #706262;
    border-color: #706262;
}
.modal-content {
    padding: 100px;
}

/* ------------------work page -----------------------*/ 

.workGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5%;
    padding: 20% 20%;
    grid-template-areas: 
    "workHero workHero work_gallery1 work_gallery1"
    "work_gallery2 work_gallery2 work_gallery1 work_gallery1"
    "work_gallery2 work_gallery2 work_gallery3 work_gallery3"
    "work_gallery2 work_gallery2 work_gallery3 work_gallery3" ;
}

@media only screen and (max-width: 800px) {
    .workGrid {
        display: grid;
        grid-template-rows: 100px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-gap: 5%;
        padding: 100px 10%;
        grid-template-areas: 
        "workHero"
        "work_gallery1"
        "work_gallery2"
        "work_gallery3" ;
    }
}

#workHero {
    grid-area: workHero;
}
#work_gallery1 {
    grid-area: work_gallery1;
    background-image: url('../../../case_study_img/Footprint/ftprnt.gif');
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: center;  
    background-position: center;
    border-radius: 10px;
    image-rendering: -webkit-optimize-contrast;
}
#work_gallery2 {
    grid-area: work_gallery2;
    background-image: url('../../../case_study_img/teensource/device_mashups.png');
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: center;  
    background-position: center;
    border-radius: 10px;
    image-rendering: -webkit-optimize-contrast;
}
#work_gallery3 {
    background-image: url('../../../case_study_img/teensource/device_mashups.png');
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-size: center;  
    background-position: center;
    border-radius: 10px;
    image-rendering: -webkit-optimize-contrast;
}